[Desktop Entry]
Type=Service
Name=Markdown View
Icon=text-markdown
MimeType=text/markdown;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/markdownpart
