[Desktop Entry]
Type=Service
Name=Markdown View
Name[ca]=Vista del Markdown
Name[ca@valencia]=Vista del Markdown
Name[el]=Προβολή markdown
Name[es]=Vista Markdown
Name[fi]=Markdown-näkymä
Name[fr]=Affichage de fichiers « Markdown »
Name[it]=Vista Markdown
Name[nl]=Weergave van Markdown
Name[nn]=Markdown-vising
Name[pt]=Área de Markdown
Name[pt_BR]=Exibição de Markdown
Name[ru]=Просмотр Markdown
Name[sk]=Pohľad Markdown
Name[sl]=Markdown View
Name[sv]=Visning av Markdown
Name[uk]=Перегляд Markdown
Name[x-test]=xxMarkdown Viewxx
Icon=text-markdown
MimeType=text/markdown;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/markdownpart
